 .App{
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


@tailwind base;
@tailwind components;
@tailwind utilities;
